Package: net.ueseo.UsabilityDataLogger
Name: UsabilityDataLogger
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: This is a tweak for UsabilityDataLogger
Maintainer: Zhong Qi
Author: Zhong Qi
Section: Tweaks
Version: 1.0-18
Installed-Size: 28
