Package: net.ueseo.UsabilityDataLogger
Name: UsabilityDataLogger
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: This is a tweak for UsabilityDataLogger
Maintainer: Zhong Qi
Author: Zhong Qi
Section: Tweaks
